@import "../../styles/Theme.scss";

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                    CARD                                    */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.Card {
  max-width: 200px;
  width: 100%;
  border: 2px solid $primary;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  transition: background-color 0.5s;
  flex: 1;

  .title {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
  }

  .body {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
  }

  &:hover {
    background-color: color-mix(in srgb, $primary 10%, $white 100%);
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                  NEW CARD                                  */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.NewCard {
  max-width: 200px;
  width: 100%;
  color: $primary;
  border: 2px solid $primary;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex: 1;
}
