@import "../../styles/Theme.scss";

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                     NEW                                    */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.NewParent {
  min-height: 100svh;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.13);
}

.New {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  position: relative;
  margin-top: 10vh;
  animation: pop 0.2s 1;

  input {
    width: 100%;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    border-radius: 7px;
    border: 2px solid $primary;
    padding: 5px;
    margin: 1px 0 11px;
  }

  textarea {
    width: 100%;
    min-height: 100px;
    font-family: inherit;
    font-size: 1rem;
    resize: vertical;
    border: 2px solid $primary;
    border-radius: 7px;
    padding: 8px;
  }

  button {
    background-color: $primary;
    color: $white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding: 3px 12px;
    align-self: flex-start;
    margin-left: 3px;

    &:hover {
      background-color: $primaryHover;
    }
  }
}

@keyframes pop {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
